@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown > * {
    all: revert;
}

.markdown a {
    color: #2563eb; /* This is Tailwind's purple-600 */
    text-decoration: none;
}

.markdown a:hover {
    text-decoration: underline;
}